
body {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  min-width: 320px;
  min-height: 100vh;
  background: linear-gradient(135deg, #e0c3fc 0%, #8ec5fc 100%);
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}


